body{
    background-color:black;
    }
    
     h1{
    color:cyan;
    font-family:Arial;
    background:rgb(0, 217, 255);
    font-size: 30px;
    text-align: center;
}
    
    p{
    color:cyan ;
    font-family:verdana ;
    font-size: 20px;
    background:black ;
    text-align: center;
    }